* {
  padding: 0;
  margin: 0; }

body {
  background-image: linear-gradient(120deg, #000000 0%, #5a5a5a 100%);
  width: 100vw;
  overflow-x: hidden; }

.-red:hover {
  background-image: linear-gradient(to top, rgba(247, 0, 0, 0.699) 0%, rgba(247, 0, 0, 0.699) 1%, #e22d2d 26%, #e93939 48%, #ee4242 75%, #f04b4b 100%);
  box-shadow: 15px 15px 20px -15px #da2828, -15px 15px 20px -15px #da2828, 15px -15px 20px -15px #da2828, -15px -15px 20px -15px #da2828;
  transform: scale(1.1); }

.-blue:hover {
  background-image: linear-gradient(to top, #004BC6 0%, #004BC6 1%, #1E63D3 26%, #3273DC 48%, #4883E3 75%, #699CF0 100%);
  box-shadow: 15px 15px 20px -15px blue, -15px 15px 20px -15px blue, 15px -15px 20px -15px blue, -15px -15px 20px -15px blue;
  transform: scale(1.1); }

.-orange:hover {
  background-image: linear-gradient(to top, #D09E00 0%, #D09E00 1%, #D6A50E 26%, #D9AD22 48%, #DEB432 75%, #E6C14F 100%);
  box-shadow: 15px 15px 20px -15px orange, -15px 15px 20px -15px orange, 15px -15px 20px -15px orange, -15px -15px 20px -15px orange;
  transform: scale(1.1); }

.-green:hover {
  background-image: linear-gradient(to top, #00B611 0%, #00B611 1%, #16C126 26%, #25CA34 48%, #36D545 75%, #4ADC58 100%);
  box-shadow: 15px 15px 20px -15px green, -15px 15px 20px -15px green, 15px -15px 20px -15px green, -15px -15px 20px -15px green;
  transform: scale(1.1); }

.catalogo:hover {
  background-image: linear-gradient(to top, rgba(247, 0, 0, 0.699) 0%, rgba(247, 0, 0, 0.699) 1%, #e22d2d 26%, #e93939 48%, #ee4242 75%, #f04b4b 100%);
  box-shadow: 15px 15px 30px -15px #da2828, -15px 15px 30px -15px #da2828, 15px -15px 30px -15px #da2828, -15px -15px 30px -15px #da2828;
  transform: translateY(-10px); }

.contacto:hover {
  background-image: linear-gradient(to top, #004BC6 0%, #004BC6 1%, #1E63D3 26%, #3273DC 48%, #4883E3 75%, #699CF0 100%);
  box-shadow: 15px 15px 30px -15px blue, -15px 15px 30px -15px blue, 15px -15px 30px -15px blue, -15px -15px 30px -15px blue;
  transform: translateY(-10px); }

.nosotros:hover {
  background-image: linear-gradient(to top, #D09E00 0%, #D09E00 1%, #D6A50E 26%, #D9AD22 48%, #DEB432 75%, #E6C14F 100%);
  box-shadow: 15px 15px 30px -15px orange, -15px 15px 30px -15px orange, 15px -15px 30px -15px orange, -15px -15px 30px -15px orange;
  transform: translateY(-10px); }

.preguntas:hover {
  background-image: linear-gradient(to top, #00B611 0%, #00B611 1%, #16C126 26%, #25CA34 48%, #36D545 75%, #4ADC58 100%);
  box-shadow: 15px 15px 30px -15px green, -15px 15px 30px -15px green, 15px -15px 30px -15px green, -15px -15px 30px -15px green;
  transform: translateY(-10px); }

header {
  grid-area: encabezado;
  width: 100%;
  height: 200px; }
  header nav {
    background-image: url(../images/fondo1.jpg);
    width: 100%;
    height: 70%; }
    header nav .container {
      display: flex;
      height: 100%; }
      header nav .container .logo {
        width: 270px;
        height: 90px;
        margin: 40px 0px 0px 20px;
        animation: myAnim 3s ease 0s 1 normal forwards; }

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px); }
  24% {
    opacity: 1; }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px); }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px); }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px); }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px); }
  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px); }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px); } }
    header nav #navbarNav {
      padding-top: 45px;
      justify-content: end; }
      header nav #navbarNav .navbar-nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative; }
        header nav #navbarNav .navbar-nav .nav-item {
          background-color: #fff;
          height: 50px;
          width: 150px;
          margin: 20px 10px;
          line-height: 50px;
          text-align: center;
          border-radius: 10px;
          transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; }
          header nav #navbarNav .navbar-nav .nav-item:active {
            transform: scale(0.95); }
          header nav #navbarNav .navbar-nav .nav-item .nav-link {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            padding: 0px;
            height: 50px;
            transition: color 0.3s; }
            header nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
              color: #fff; }

.body__index {
  display: grid;
  grid-template-areas: "encabezado " "carrusel" "destacados " "footer ";
  grid-template-rows: 200px 500px 1fr 300px;
  justify-items: center; }
  .body__index .container__carrusel {
    grid-area: carrusel;
    max-width: 1200px; }
    .body__index .container__carrusel-img {
      width: 100%;
      height: 500px; }
  .body__index .productos-destacados {
    grid-area: destacados;
    max-width: 1600px;
    margin-top: 60px; }
    .body__index .productos-destacados h2 {
      margin: 50px 0px;
      text-align: center;
      font-size: 30px;
      color: #da2828; }
  .body__index .container__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    z-index: 11; }
    .body__index .container__card .card {
      background-color: #fff;
      padding: 20px;
      width: 400px;
      border-radius: 20px;
      transition: all 0.4s; }
      .body__index .container__card .card:hover {
        transform: translateX(-10px) translateY(-15px) scale(1.03);
        background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
        box-shadow: 25px 25px 30px -15px rgba(247, 0, 0, 0.699); }
      .body__index .container__card .card:active {
        transform: scale(0.9); }
      .body__index .container__card .card-img {
        height: 300px;
        width: 300px;
        margin: 0px auto; }
        .body__index .container__card .card-img img {
          max-height: 300px;
          max-width: 300px;
          margin: 10px auto; }
      .body__index .container__card .card h3 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px; }
      .body__index .container__card .card p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px; }

footer {
  background-image: url(../images/fondo1.jpg);
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  grid-area: footer; }
  footer img {
    height: 50px;
    width: 150px;
    margin: 10px; }
  footer .content__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    footer .content__footer img {
      height: 25px;
      width: auto; }
    footer .content__footer h3 {
      font-size: larger;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #da2828; }
    footer .content__footer ul {
      list-style-type: none;
      padding-left: 0px;
      line-height: 20px; }
      footer .content__footer ul a {
        text-decoration: none;
        text-align: center;
        margin-bottom: 10px;
        color: #dddddd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: all 0.3s; }
        footer .content__footer ul a:hover {
          color: #da2828; }
  footer p {
    color: #da2828;
    text-align: center;
    font-weight: bold;
    margin: 10px; }

.body__catalogo {
  display: grid;
  grid-template-areas: "encabezado" "catalogo" "footer ";
  grid-template-rows: 200px 1fr 300px; }
  .body__catalogo .content__catalogo {
    grid-area: catalogo;
    max-width: 1600px;
    margin: 0px  auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-items: center; }
    .body__catalogo .content__catalogo-filtros {
      width: 200px;
      list-style-type: none;
      margin-left: 40px; }
      .body__catalogo .content__catalogo-filtros li {
        background-color: #d8d8d8;
        height: 50px;
        width: 150px;
        margin: 10px 0px;
        line-height: 50px;
        text-align: center;
        border-radius: 20px;
        transition: all 0.4s; }
        .body__catalogo .content__catalogo-filtros li:hover {
          background-color: #fa4d4d;
          box-shadow: 15px 15px 30px -15px rgba(247, 0, 0, 0.699), -15px 15px 30px -15px rgba(247, 0, 0, 0.699), 15px -15px 30px -15px rgba(247, 0, 0, 0.699), -15px -15px 30px -15px rgba(247, 0, 0, 0.699);
          transform: translateX(10px) scale(1.03); }
        .body__catalogo .content__catalogo-filtros li:active {
          transform: scale(0.9); }
      .body__catalogo .content__catalogo-filtros a {
        text-decoration: none;
        color: #000000;
        font-size: 20px; }
    .body__catalogo .content__catalogo-productos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px; }
      .body__catalogo .content__catalogo-productos .producto {
        background-color: white;
        padding: 15px;
        text-align: center;
        width: 250px;
        border-radius: 25px;
        transition: 0.5s; }
        .body__catalogo .content__catalogo-productos .producto:active {
          transform: scale(0.9); }
        .body__catalogo .content__catalogo-productos .producto img {
          height: 80%;
          width: 100%;
          border-radius: 20px; }
        .body__catalogo .content__catalogo-productos .producto h3 {
          color: rgba(15, 15, 15, 0.877);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: large; }

.container__contacto {
  margin-top: 70px;
  margin-bottom: 90px; }
  .container__contacto .formulario {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 30px 1px black;
    padding: 10px;
    max-width: 580px;
    margin: 10px auto; }
    .container__contacto .formulario form {
      text-align: center; }
      .container__contacto .formulario form label {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: auto;
        width: 200px;
        margin: 15px;
        display: inline-block; }
      .container__contacto .formulario form .label__consulta {
        vertical-align: top; }
      .container__contacto .formulario form .label__pregunta {
        margin-bottom: 7px;
        width: auto;
        height: auto; }
        .container__contacto .formulario form .label__pregunta-radio {
          margin-bottom: 20px; }
      .container__contacto .formulario form .input__buttons {
        display: flex;
        justify-content: center; }
        .container__contacto .formulario form .input__buttons input {
          width: 60px;
          height: 30px;
          color: #eeeeee;
          border: 1px solid black;
          border-radius: 25px;
          box-shadow: 2px 3px 7px 1px black;
          margin: 10px;
          background-color: black;
          transition: all 0.3s; }
          .container__contacto .formulario form .input__buttons input:hover {
            transform: scale(1.1);
            background-color: #414141; }
    .container__contacto .formulario textarea {
      margin-top: 15px;
      width: 250px;
      height: 100px; }

.content {
  height: 500px; }
  .content__nosotros {
    max-width: 1200px;
    margin: 30px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-image: radial-gradient(circle 248px at center, #f19d28 0%, #d8840e 47%, #f07e14 100%); }
    .content__nosotros h2 {
      margin-left: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    .content__nosotros p {
      margin-left: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: larger; }

.content__preguntas .preguntas {
  max-width: 1200px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 20px;
  background-image: radial-gradient(circle 248px at center, #26d42e 0%, #1fbb26 47%, #21b93a 100%);
  padding: 10px; }
  .content__preguntas .preguntas h3 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 700; }
  .content__preguntas .preguntas p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

@media (max-width: 1480px) {
  .body__catalogo .content__catalogo-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; } }

@media (max-width: 1315px) {
  .body__index .productos-destacados h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .body__index .productos-destacados .container__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; } }

@media (max-width: 1200px) {
  .body__index {
    display: grid;
    grid-template-areas: "encabezado" "destacados" "footer ";
    grid-template-rows: 200px  1fr 300px;
    width: 100%; }
    .body__index .container__carrusel {
      display: none; }
  header nav .container {
    height: 100%; }
    header nav .container .logo {
      margin-top: 0px; }
  header nav #navbarNav {
    padding-top: 0px; }
  .body__catalogo {
    max-width: 1200px; }
    .body__catalogo .content__catalogo-productos {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px; } }

@media (max-width: 1100px) {
  header .header__content {
    grid-template-columns: repeat(2, 1fr); }
    header .header__content .navbar-toggler-icon {
      background-color: #da2828;
      border-radius: 5px; }
    header .header__content .navbar-nav {
      display: none; } }

@media (max-width: 850px) {
  .body__index .productos-destacados .container__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px; }
  .content__catalogo {
    justify-items: center;
    grid-template-columns: 1fr; }
    .content__catalogo .content__catalogo-filtros {
      display: none; }
    .content__catalogo .content__catalogo-productos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px; } }
