@media (max-width: 1480px) {
    .body__catalogo{
        .content__catalogo-productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

}

@media (max-width: 1315px) {
    
    .body__index {
    
        .productos-destacados{ 
            h2{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
            }
            .container__card{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }
        }
       
    }

}

@media (max-width:1200px) {
    .body__index{
        display: grid;
        grid-template-areas:
        "encabezado"
        "destacados"
        "footer ";
        grid-template-columns: 1fr ;
        grid-template-rows: 200px  1fr 300px ;       
        width: 100%;

        .container__carrusel{
            display: none;
        }
    }
    

 
    .body__catalogo{
        
        max-width: 1200px;

        .content__catalogo-productos{
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
    }

}

@media  (max-width:1100px){

header{
        .header__content{
        grid-template-columns: repeat(2, 1fr);
        
        .navbar-toggler-icon{
            background-color: $bg-red;
            border-radius: 5px;
        }

            .navbar-nav{
                display: none;
            }
        }
}
    
   



}

@media (max-width: 850px) {
    .body__index{
        .productos-destacados{
           
            .container__card{
                display: grid;
                grid-template-columns: 1fr;
                gap: 40px;
            }
        }
    }
    
    .content__catalogo{
        justify-items: center;
        grid-template-columns: 1fr;

        .content__catalogo-filtros{
            display: none;
        }

        .content__catalogo-productos{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

    }

    

}