.content{
    height: 500px;

    &__nosotros{
        max-width: 1200px;
        margin: 20px auto;
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
        background-image: radial-gradient(circle 248px at center, #f19d28 0%, #d8840e 47%, #f07e14 100%);
    
        h2{
            margin-left: 30px;
            font-family: 'Sansita', sans-serif;
            font-size: 45px;
        }
    
        p{
            margin-left: 30px;
            font-family: 'Itim', cursive;
            font-size: 22px;
            font-weight: 100;
        }
    }
}




