.content{
    height: 500px;

    &__nosotros{
        max-width: 1200px;
        margin: 30px auto;
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
        background-image: radial-gradient(circle 248px at center, #f19d28 0%, #d8840e 47%, #f07e14 100%);
    
        h2{
            margin-left: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
        p{
            margin-left: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: larger;
        }
    }
}




