.content__preguntas {
  

    .preguntas {
        max-width: 1200px;
        margin: 30px auto;
        border: 1px solid black;
        border-radius: 20px;
        background-image: radial-gradient(circle 248px at center, #26d42e 0%, #1fbb26 47%, #21b93a 100%);
        padding: 10px;

        h3 {
            color: black;
            font-family: 'Sansita', sans-serif;
            font-size: 30px;
            
        }

        p {
            font-family: 'Itim', cursive;
            font-size: 18px;
        }
    }
}